body{
	margin: 0px
	padding: 0px;
}
.lista{
	margin: 0 15%;
	
}
table{
	width: 100%;
}

thead tr, tfoot tr{
	height: 45px;
	font-size: 19px;
	background-color: darkmagenta;
	color:white;
}
tr{
	height: 40px;
	font-size: 18px
}
td{
	padding-left: 10px;
}